{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

 {% include 'navbar.html.twig' %}

<img src="{{ asset('build/hotel2.jpg') }}" class="top-image">


        <div class="container mt-4">

        <div class="row">



        {%  for rooms in rooms %}
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/thumbnails/{{ rooms.thumbnail }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ rooms.title }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="{{ path('findroom', {'roomId': rooms.id}) }}" class="btn btn-primary">Check</a>
                        </div>
                    </div>
                </div>
        {% endfor %}


        </div>
        </div>
{% endblock %}
